.circle{
  height:14px;
  width:14px;
  border:solid 2px #eee;
  border-radius:50%;
  box-shadow: 0 0 2px #000, inset 0 0 2px #000;
  position:absolute;
  margin:-7px;
&.static{
   visibility:visible;
 //margin:0;
 //position:static;
 }
}
.light{

  input[type=number], input[type=text].hex {
    background: linear-gradient(180deg, #fff, #fff);
    color: #111;
    &:active,&:focus{
      outline: none;
      box-shadow:0 0 4px #aaa;
    }
  }

}